footer {
  background-color: $blue;
  display: flex;
  justify-content: center;
  padding-top: 5px;
  margin: 0;
  color: $cloud;
  font-size: 110%;
  height: 40px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
